<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to my Scheduled Tweets</h1>
  <h2> I'm Abdullah </h2>
  <span> This project made by following Gorails.com tutorial. </span>
</div>

