<div class = "d-flex align-items-center justify-content-between">
<h1>Twitter Accounts</h1>

<%= form_tag('/auth/twitter', method: 'post', data: {turbo: false}) do %>
  <button class="btn btn-primary" type='submit'>Connect a Twitter account</button>
<% end %>
</div>

<% @twitter_accounts.each do |twitter_account| %>
  <div class="d-flex align-items-center mb-4">
    <div class="mr-4">
      <img src="<%= twitter_account.image %>" alt="Profile image" class="rounded-circle" width="50" height="50">
      <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: "_blank" %>
    </div>

    <%= button_to "Disconnect", twitter_account, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>
  </div>
<% end %>